{% extends 'base.html' %}
    {% block title %}
    Index
    {% endblock %}
{% block body %}

{% load static %}


<h1>Welcome to Court Watch Buffalo</h1>

<p>Court Watch Buffalo demands transparency and accountability from the bail system and believes that no one should sit in jail because they are poor. In collaboration with community residents, community organizations, and other stake holders, Court Watch Buffalo is committed to ending money bail and mass incarceration. We aim to change the harmful practices and culture that exist within Buffalo's court rooms by training court watchers to observe court proceedings in bail arraignment hearings. Using this data, Court Watch Buffalo will organize around the issue of money bail and mass incarceration to create a more equitable and just Buffalo.</p>

<p>

</p>


{% endblock %}
