{% extends 'base.html' %}
{% block title %}
Join
{% endblock %}
{% block body %}

<div class="container">
    <br>
    <h2>Join</h2>
    <br>
    <p>There are three main things you can do:</p>
    <ul>
        <li>Become a court watcher</li>
        <li>Submit a story</li>
        <li>Help with data entry</li>
    </ul>
    <p>Here is the date of the next court watcher trainging...</p>
    <p>Here is the date of the next data entry trainging...</p>
    <br>
    <p>If you want to be trained but can't make that day, contact...</p>
</div>

{% endblock %}
