{% extends 'base.html' %}
    {% block title %}
    Member
    {% endblock %}
{% block body %}

<h3>Loggied in as {{ user.get_username }}</h3>

<br>

{% load static %}
<h3><a href="{% static "ArraignmentDataForm2.docx" %}">Download the Arraignment Data Form</a></h3>

<br>
<h3>Submit a story</h3>

<br>

<form method='POST'> {% csrf_token%}
	{{ form.as_p }}
	<input type='submit' value='Save' />
</form>

<br>

<h3>Sign Up For Shifts</h3>

<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/codeforbuffalo/court-watching-shift" style="min-width:340px;height:580px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
<!-- Calendly inline widget end -->


{% endblock %}